<div class="inline-flex p-10">
<%@domains = ['AI','ML','cloud','Physics'] %>
<% @domains.each do |domain| %>
<button class="bg-black hover:font-semibold hover:text-gray-200 hover:bg-gray-700 text-green-700 py-2 px-4  rounded-full">
  <%= domain %>
</button>
<%end%>
</div>